.main-after,
.main-after * {
  box-sizing: border-box;
}
.main-after {
  background: #f2efe7;
  height: 852px;
  position: relative;
  overflow: hidden;
}
.rectangle-77 {
  background: #343434;
  width: 421px;
  height: 139px;
  position: absolute;
  left: calc(50% - 210.5px);
  top: 750px;
}
.rectangle-2 {
  background: #343434;
  border-radius: 10px;
  width: 34px;
  height: 19px;
  position: absolute;
  left: 225px;
  top: 104px;
}
.ellipse-1 {
  background: #fff9eb;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 40px;
  top: 132px;
}
.ellipse-2 {
  background: #343434;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 85px;
  top: 132px;
}
.ellipse-3 {
  background: #343434;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 130px;
  top: 132px;
}
.ellipse-4 {
  background: #fff9eb;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 175px;
  top: 132px;
}
.ellipse-6 {
  background: #fff9eb;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 264px;
  top: 132px;
}
.ellipse-7 {
  background: #fff9eb;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 309px;
  top: 132px;
}
._28 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Freesentation-4Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 54px;
  top: 145px;
}
.mon {
  color: #343434;
  text-align: center;
  font-family: "NixgonfontsV20-M", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 47px;
  top: 106px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
._2024 {
  color: #343434;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 60px;
}
._7 {
  color: #343434;
  text-align: left;
  font-family: "Pretendard-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 217px;
  top: 60px;
}
._29 {
  color: #f2efe7;
  text-align: center;
  font-family: "Freesentation-4Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 145px;
}
.tue {
  color: #343434;
  text-align: center;
  font-family: "NixgonfontsV20-M", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 106px;
}
._30 {
  color: #f2efe7;
  text-align: center;
  font-family: "Freesentation-4Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 144px;
  top: 145px;
}
.wed {
  color: #343434;
  text-align: center;
  font-family: "NixgonfontsV20-M", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 137px;
  top: 106px;
}
._31 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Freesentation-4Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 189px;
  top: 145px;
}
.thu {
  color: #343434;
  text-align: center;
  font-family: "NixgonfontsV20-M", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 185px;
  top: 106px;
}
._2 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Freesentation-4Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 282px;
  top: 145px;
}
.sat {
  color: #343434;
  text-align: center;
  font-family: "NixgonfontsV20-M", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 276px;
  top: 106px;
}
._3 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Freesentation-4Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 327px;
  top: 145px;
}
.sun {
  color: #343434;
  text-align: center;
  font-family: "NixgonfontsV20-M", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 323px;
  top: 106px;
}
.ellipse-5 {
  background: #343434;
  border-radius: 50%;
  border-style: solid;
  border-color: #343434;
  border-width: 2px;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 219px;
  top: 131px;
}
._1 {
  color: #f2efe7;
  text-align: center;
  font-family: "Freesentation-9Black", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 237px;
  top: 144px;
}
.fri {
  color: #f2efe7;
  text-align: center;
  font-family: "NixgonfontsV20-B", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 232px;
  top: 106px;
}
.rectangle-4 {
  background: #343434;
  border-radius: 5px;
  width: 329px;
  height: 59px;
  position: absolute;
  left: 32px;
  top: 257px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
}
._67-4 {
  color: #f2efe7;
  text-align: center;
  font-family: "Freesentation-9Black", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 39.5px);
  top: 262px;
}
.kg {
  color: #848383;
  text-align: center;
  font-family: "Freesentation-9Black", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -130.5px);
  top: 274px;
}
.div {
  color: #343434;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 164.5px);
  top: 225px;
}
._2024-07-01 {
  color: #343434;
  text-align: right;
  font-family: "Freesentation-5Medium", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -50.5px);
  top: 230px;
}
.vector-2 {
  width: 389.5px;
  height: 0px;
  position: absolute;
  left: calc(50% - 194.5px);
  top: 204px;
  overflow: visible;
}
.div2 {
  color: #f2efe7;
  text-align: center;
  font-family: "Freesentation-5Medium", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 82px;
  top: 799px;
}
.div3 {
  color: #848383;
  text-align: center;
  font-family: "Freesentation-5Medium", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 292px;
  top: 799px;
}
.group-59 {
  position: absolute;
  inset: 0;
}
.rectangle-80 {
  width: 329px;
  height: 141px;
  position: absolute;
  left: calc(50% - 164.5px);
  top: 369px;
}
._132-150 {
  color: #b1b1b1;
  text-align: right;
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -94.5px);
  top: 482px;
}
.div4 {
  color: #343434;
  text-align: left;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  position: absolute;
  left: 32px;
  top: 377px;
  width: 329px;
  height: 271px;
}
.div5 {
  color: #343434;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 32px;
  top: 337px;
}
.vector-3 {
  width: 329px;
  height: 0px;
  position: absolute;
  left: calc(50% - 164.5px);
  top: 510px;
  overflow: visible;
}
.vector {
  width: 4.58%;
  height: 2.35%;
  position: absolute;
  right: 75.32%;
  left: 20.1%;
  bottom: 7.39%;
  top: 90.26%;
  overflow: visible;
}
.vector2 {
  width: 4.58%;
  height: 2.35%;
  position: absolute;
  right: 20.36%;
  left: 75.06%;
  bottom: 7.39%;
  top: 90.26%;
  overflow: visible;
}
.group-1 {
  width: 91.33%;
  height: 2.1%;
  position: absolute;
  right: 4.36%;
  left: 4.31%;
  bottom: 80.95%;
  top: 16.96%;
  overflow: visible;
}
.vector3 {
  width: 3.82%;
  height: 2%;
  position: absolute;
  right: 64.38%;
  left: 31.81%;
  bottom: 90.61%;
  top: 7.39%;
  overflow: visible;
}
.component-1 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  row-gap: 0px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: calc(50% - 164.5px);
  bottom: 128px;
}
.group-41 {
  flex-shrink: 0;
  width: 157px;
  height: 58px;
  position: static;
}
.group-40 {
  width: 157px;
  height: 58px;
  position: static;
}
.group-35 {
  width: 157px;
  height: 58px;
  position: static;
}
.rectangle-129 {
  background: var(--gray3, #acacac);
  border-radius: 5px;
  width: 47.72%;
  height: 100%;
  position: absolute;
  right: 52.28%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.btn {
  color: var(--gray1, #343434);
  text-align: center;
  font-family: var(--button-l-font-family, "Pretendard-Bold", sans-serif);
  font-size: var(--button-l-font-size, 16px);
  font-weight: var(--button-l-font-weight, 700);
  position: absolute;
  right: 72.34%;
  left: 19.76%;
  width: 7.9%;
  bottom: 32.76%;
  top: 34.48%;
  height: 32.76%;
}
.group-36 {
  flex-shrink: 0;
  width: 157px;
  height: 58px;
  position: static;
}
.rectangle-130 {
  background: var(--red, #ee5600);
  border-radius: 5px;
  width: 47.72%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 52.28%;
  bottom: 0%;
  top: 0%;
}
.btn2 {
  color: var(--gray4, #e8e8e8);
  text-align: center;
  font-family: var(--button-l-font-family, "Pretendard-Bold", sans-serif);
  font-size: var(--button-l-font-size, 16px);
  font-weight: var(--button-l-font-weight, 700);
  position: absolute;
  right: 20.06%;
  left: 72.04%;
  width: 7.9%;
  bottom: 32.76%;
  top: 34.48%;
  height: 32.76%;
}
